<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>GANAMOS_TEST_EMAIL</key><string>$(GANAMOS_TEST_EMAIL)</string>
    <key>GANAMOS_TEST_PASSWORD</key><string>$(GANAMOS_TEST_PASSWORD)</string>
    <key>GANAMOS_TEST_ACCESS_TOKEN</key><string>$(GANAMOS_TEST_ACCESS_TOKEN)</string>
    <key>GANAMOS_TEST_REFRESH_TOKEN</key><string>$(GANAMOS_TEST_REFRESH_TOKEN)</string>
    <key>GANAMOS_TEST_USER_ID</key><string>$(GANAMOS_TEST_USER_ID)</string>
</dict>
</plist>
