GANAMOS_BUNDLE_ID = com.brianmurray.ganamos
GANAMOS_DEVELOPMENT_TEAM = X9XGT7D473
GANAMOS_API_BASE_URL = https:/$()/www.ganamos.earth
GANAMOS_ADMIN_EMAIL =
GANAMOS_SUPABASE_URL =
GANAMOS_SUPABASE_ANON_KEY =
